*{
    padding: 0;
    margin: 0;
}

html, body{
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

p{
    font-size: 1.5vw;
}

/* helper */
.clear{
    clear: both;
}

.bg-white{
    background-color: white;
    color: black;
    box-shadow: 0px 3px 5px 0px #33333314;
    font-size: 1vw;
}

.bg-grey{
    background: #434D58;
    color: white;
    font-size: 1vw;
}

.bg-content-white{
    background-color: white;
}

.bg-content-grey{
    background: #F5F4F4;
}

.logo-link{
    width:30%;
}

nav .fa-bars, nav .fa-times{
    display: none;
}

nav .fa-caret-down{
    font-size: 12px;
    margin-left: 10px;
    transition: 0.3s;
}

/* navbar */
.navbar {
    overflow: hidden;
}

.mobile-navbar{
    display:none
}

.bg-white .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    margin: 0 20px;
    border-bottom: 1px solid white;
}

.bg-grey .navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    margin: 0 20px;
    border-bottom: 1px solid #434D58;
}

.navbar a:last-child{
    margin-right: 0px;
}

.navbar .dropdown {
    float: left;
    overflow: hidden;
}

.navbar .dropdown a{
    padding:0;    
}

.navbar .dropbtn a:hover{
    border-bottom: 1px solid white !important;
}


.bg-white .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 23px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0 20px;
}

.bg-grey .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 23px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0 20px;
}

.bg-white .navbar a:hover, .navbar .dropdown:hover .dropbtn {
    border-bottom: 1px solid black;
}

.bg-grey .navbar a:hover {
    border-bottom: 1px solid white;
}

.dropdown:hover i{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
  
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.product{
    min-width: 300px !important;
}

.solusi{
    min-width: 400px !important;
}

.dropdown-content .product-header{
    display:flex;
    align-items: center
}

.dropdown-content .product-header a{
    font-size: 18px;
}

.dropdown-content .product-header a:last-child{
    margin-bottom: 0 !important;
}
  
.bg-white .dropdown-content a {
    float: none;
    color: black;
    padding: 2%;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-top: 1%;
    
}

.bg-grey .dropdown-content a{
    float: none;
    color: black;
    padding: 2%;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-top: 1%;
    border-bottom: 1px solid white;
}

.dropdown-content a:last-child {
    margin-bottom: 1%;
}
  
.dropdown-content a:hover {
    font-weight: 660;
    border-bottom: 1px solid #f9f9f9 !important;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* header*/
.header{
    height: auto;
    width: 100%;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    z-index: 2000;
    margin-bottom: auto;
}

.header nav{
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
}

.header nav img{
    width: 100%;
    height:auto;
}

.header .nav-links{
    flex: 1;
    text-align: right;
    justify-content: space-around;
}

.header .nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 4%;
    position: relative;
}

.header .nav-links ul li:last-child{
    padding-right: 0px;
}

.bg-white .nav-links ul li a{
    text-decoration: none;
    color:#000000;
}

.bg-grey .nav-links ul li a{
    text-decoration: none;
    color:white;
}

/* home content 1 */

.content-1-container{
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
}

.left-col-content-1{
    width: 50%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.content-1-container .left-col-content-1 p{
    margin-top:3%;
}

.left-col-content-1 h1{
    font-size: 3vw;
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 12%;
}
.right-col-content-1{
    width: 50%;
    background: #F5F5F5;
    text-align: center;
    justify-content: center;
    position: relative;
}

.content-1-container .right-col-content-1 .img-1{
    margin-top: 25%;
    width: 80%;
}

.content-1-container .right-col-content-1 .img-2{
    margin-top: 5%;
    margin-bottom: 15%;
    width: 80%;
}

.float-button-1{
    position: absolute;
    width: 189px;
    height: 38px;
    top: 27%;
    left:10%;
    color: white;
    background: #E40613;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    animation: x infinite 8s;
    animation-delay: -4s;
}

@keyframes x {
    0% {transform: translateX(-2%) rotate(0deg);}
    50% {transform: translateX(2%) rotate(0deg);}
    100% {transform: translateX(-2%) rotate(0deg);}
}

.float-button-2{
    position: absolute;
    width: 189px;
    height: 38px;
    bottom: 40%;
    right:10%;
    color: white;
    background: #4DBF30;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    animation: y infinite 8s;
    animation-delay: -3s;
}

@keyframes y {
    0% {transform: translateX(-2%) rotate(0deg);}
    50% {transform: translateX(2%) rotate(0deg);}
    100% {transform: translateX(-2%) rotate(0deg);}
}

/* home content 2 */

.content-2-container{
    width: 100%;
    background-color: black;
}

.content-2{
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    color:white;
}

.content-2-container .content-2 .left-col-content-2{
    width: 30%;
    height: auto;
    text-align: left;
    display: flex;
    align-items: center;
}

.content-2-container .content-2 .left-col-content-2 h1{
    font-weight: 400;
    font-size: 4vw;
}

.content-2-container .content-2 .right-col-content-2{
    width: 70%;
    margin:10% 0;
}

.video-container{
    width: 100%;
}

/* home content-3 */

.content-3-container{
    margin-top: 1%;
    width: 100%;
    background: #F5F5F5;
}

.content-3{
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    color:black;
}

.content-3-container .content-3 .left-col-content-3{
    width: 35%;
    height: auto;
    text-align: left;
    margin-bottom: 15%;
}

.content-3-container .content-3 .left-col-content-3 h1{
    font-weight: 400;
    font-size: 45px;
    margin-top: 30%;
    margin-bottom:10%;
}

.content-3-container .content-3 .left-col-content-3 h3{
    font-weight: 400;
    font-size: 30px;
    margin-bottom:8px;
}

.content-3-container .content-3 .left-col-content-3 p{
    margin-bottom:5%;
}

.content-3-container .content-3 .right-col-content-3{
    text-align: center;
    margin: auto;
    width: 65%;
}

.drainase-bandara{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto !important;
    justify-content: flex-end;
}

.drainase-pelabuhan{
    margin: auto 0 auto auto  !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.drainase-underpass{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.drainase-residential{
    margin: auto 0 auto auto  !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.drainase-arena{
    margin: auto 0 auto auto  !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.drainase-spbu{
    margin: auto 0 auto auto !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.airside-img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 15px;
}

.airside-img p{
    font-size: 18px;
    line-height: 21.82px;
    padding: 0 15px;
}

.airside-img img{
    margin-top: 15px;
}

.landside-img{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.landside-img p{
    font-size: 18px;
    line-height: 21.82px;
    padding: 0 15px;
}

.landside-img img{
    margin-bottom: 15px;

}

.underpass-1-img{
    display: flex;
    justify-content: flex-start;
    margin: 20px 95px;
    margin-left: 23% !important;
}

.underpass-2-img{
    display: flex;
    justify-content: flex-end;
}
.cta-content{
    display: inline-flex;
    align-items: center;
    font-size: 22px;
}

.cta-content img{
    padding: 0 10px;
}

.content-3 .left-col-content-3 a{
    text-decoration: none;
    color: black;
}


/* abous us page style */
.profile-content-container{
    width: 100%;
    background-color: #434D58;
    padding-top: 10%;
    padding-bottom:10%;
}

.profile-content{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    color: white;
}

.profile-content h1{
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 20px;
}

.profile-content p{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 35px;
}

.profile-img{
    width:100%;
    height: auto;
}

.profile-img img{
    width: 100%;
    height: auto;
}

.visi-content-container{
    width: 100%;
    background-color: #F5F5F5;
}

.visi-content{
    text-align: center;
    width: 80%;
    margin: auto;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visi-content h1{
    font-size: 55px;
    line-height: 53px;
    font-weight: 400;
    margin-bottom: 25px;
}

.visi-content p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 80px;
}

.visi-content p:last-child{
    margin-bottom: 0;
}

.nilai-content-container{
    width: 100%;
}

.nilai-img-container{
    margin-top: 3%;
    width: 100%;
    height: auto;
    display: flex;
}

.nilai-img-container div{
    width: 50%;
}

.nilai-img-container div:first-child{
    margin-right: 10px;
}

.nilai-img-container div img{
    width: 100%;
    height: auto;
}

.nilai-content{
    margin-top: 80px;
    width: 80%;
    margin: 10% auto 0 auto;
}

.nilai-content h1{
    font-size: 55px;
    line-height: 53px;
    font-weight: 400;
}

.nilai-content h3{
    font-size: 30px;
    line-height: 36.36px;
    font-weight: 400;
    margin-top:5%;
}

.nilai-content p{
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 2%;
    width: 70%;
}

.nilai-content p:last-child{
    margin-bottom: 12%;
}

.why-content-container{
    background-color: #434D58;
    color: white;
}

.why-content{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.why-content h1{
    margin-top: 15%;
    margin-bottom: 10%;
    width: 85%;
    font-size: 55px;
    line-height: 65px;
    font-weight: 400;
}

.why-content h3{
    font-size: 30px;
    line-height: 36.36px;
    font-weight: 400;
    margin-bottom: 5%;
}

.why-content h3::after{
    content: '';
    height: 1px;
    width: 20%;
    display: block;
    background-color: white;
    margin-top: 15px;
}

.why-content p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.point-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-point{
    width: 15%;
}

.img-point img{
    width: 70%;
    margin: 10px auto;
}

.desc-point{
    width: 85%;
    margin-bottom: 100px;
}


/* product page style */
.list-content-container{
    width: 100%;
    height: auto;
    background-color: #434D58;
}

.list-content{
    padding-top: 15%;
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 10%;
}

.list-content-container .list-content img{
    opacity: 0.4;
}

.list-logo{
    margin-bottom: 10px;
}

.list-content-container .list-content h1{
    font-weight: 400;
    font-size: 55px;
    line-height: 53px;
    color: white;
}

.product-list{
    margin-top: 20px;
    font-size: 22px;
    line-height: 40px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.product-list div{
    margin: 0 18px;
}

.product-list div a{
    text-decoration: none;
    color: white;
}

.product-list div a:hover{
    font-weight: 600;   
}

.product-content-container{
    width: 100%;
}

.product-content{
    width: 80%;
    margin: auto;
    display: flex;
}

.left-col-product{
    width: 50%;
    padding-right: 10px;
}

.left-col-product h1{
    font-size: 55px;
    line-height: 53px;
    margin-bottom: 8%;
}

.left-col-product p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10%;
}

.right-col-product{
    width: 50%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.right-col-product img{
    width: 80%;
    height: auto;
}

.product-desc-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 660px;
    justify-content: center;
}

.content-checklist{
    display: flex;
    align-items: center;
}

.point-checklist{
    margin: 0 25px;
}

.point-checklist div{
    font-size: 18px;
    line-height: 21.82px;
    margin-bottom: 5px;
}

.product-type{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top:7%;
    width: 100%;
}

.product-type h3{
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    margin: 0 7% 0 0;
}

.product-type h3 a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* contact page style */

.contact-content-container{
    width: 100%;
    margin-top:5%;
}

.contact-content{
    width: 80%;
    margin: auto;
    display: flex;
}

.contact-left-col{
    width: 50%;
}

.contact-left-col h1{
    margin-top: 15%;
    font-size: 4vw;
    line-height: 58px; 
    width: 50%;
}

.contact-left-col h3{
    margin-top: 15%;
    font-size: 2vw;
    width: 50%;
}

.contact-left-col p{
    font-size: 1.5vw;
    margin-top: 5%;
    line-height: 24px;
}

.contact-left-col p:last-child{
    margin-bottom: 25%;
}

.contact-right-col{
    width: 50%;
}

.contact-right-col h3{
    width: 50%;
    margin-top: 15%;
    font-size: 2vw;
    margin-bottom:2%;
}

.contact-right-col .fullname{
    width: 45%;
}

.contact-right-col .email{
    width: 53%;
}

.contact-right-col form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-right-col input, .contact-right-col textarea{
    border: 1.5px solid #E0E6E8;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    margin-bottom:2%;
    font-family: 'Ubuntu', sans-serif;
}

.contact-right-col button{
    background: #A46F13;
    color: white;
    padding: 3% 8%;
    border-radius: 5px;
    border: none;
    margin-top: 2%;
}

/* detailed page style */

.detail-content-container{
    width: 100%;
    margin-top:5%;
}

.detail-content-container-2{
    width: 100%;
}

.detail-content{
    width: 80%;
    margin: auto;
    display: flex;
}

.left-col-detail{
    width: 50%;
}

.detail-content-container .detail-content .left-col-detail h1{
    font-weight: 400;
    font-size: 45px;
    margin-top: 30%;
    margin-bottom: 10%;
}

.detail-content-container-2 .detail-content .left-col-detail h1{
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 10%;
}

.detail-content .left-col-detail h3{
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 8%;
}

.detail-content .left-col-detail p{
    margin-bottom: 10%;
    width: 80%;
}

.detail-content .left-col-detail ul{
    width: 90%;
    margin: 0 5%;
    margin-bottom: 20% !important;
}

.detail-content .left-col-detail ul p{
    margin: 2% 0;
}

.detail-content .left-col-detail a{
    text-decoration: none;
    color: black;
}

.right-col-detail{
    width: 50%;
    text-align: center;
    background-color: #F5F5F5;
}

.detail-content .right-col-detail img{
    width: 80%;
    height: auto;
    margin:0 auto
}

.detail-content .right-col-detail .img-1{
    margin:10% auto;
    margin-bottom: 5% !important;
}

.detail-content .right-col-detail .img-2{
    margin-bottom: 30% !important;
}

/* float wa button */
.cta-container{
    position: fixed;
    z-index: 2;
    right:10px;
    bottom: 10px;
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.cta-container a{
    text-decoration: none;
}

.cta{
    display: inline-flex;
    align-items: center;
    border: 1px solid #4CAF50;
    padding:5px;
    background-color: #4CAF50;
    height: 57px;
    width: 279px;
    border-radius: 50px;
}

.cta p{
    color: white;
    font-size: 16px;
    margin: 0 auto;
}

.cta img:nth-child(1){
    margin-top: 0 ;
    margin-left:18px;
}

.cta .normal-cta{
    display:block;
}

.cta .mobile-cta{
    display:none;
}


/* footer */

.footer{
    /* margin-top: 13px; */
    width: 100%;
    background: black;
    padding-bottom: 20px;
}

.footer-container{
    width: 60%;
    margin: auto;
    text-align: center;
    color: white;
    padding-top: 90px;
}

.logo-footer{
    margin-bottom: 10px;
}

.contact-container{
    width: 100%;
    text-align: left;
    margin-top: 15%;
    font-family: 'Open Sans', sans-serif;
}

.contact-container h3{
    font-size: 18px;
    font-weight: 400;
}

.contact-container p{
    font-size: 22px;
    font-weight: 400;
    margin-top: 5px;
}

.address{
    float: left;
}

.contact{
    float: right;
}

.footer-copyright{
    margin-top: 60px;
    font-size: 16px;
}

/* mobile style */

@media only screen and (max-width: 768px) {
    p{
        font-size: 4vw;
    }

    .logo-link{
        width: 80%;
    }

    nav .fas{
        display: block;
        font-size: 4vw;
        cursor: pointer;
    }

    .header nav {
        display: flex;
        padding: 0 5%;
        justify-content: space-between;
        align-items: center;
    }
    

    .header nav img{
        margin:23px 0;
    }

    .navbar{
        display:none;
    }

    .mobile-navbar{
        display: flex;
        position: fixed;
        background: black;
        height: 100%;
        width: 100%;
        color: white;
        z-index: 3;
        top:0;
        right:-100%;
        transition: 0.5s;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .mobile-navbar a{
        font-size: 4vw;
        color: white;
        text-decoration: none;
        width: 100%;
        text-align: center;
        margin-top:5%;
    }

    .mobile-navbar a:last-child{
        margin: 5% 0 !important;
    }

    .mobile-navbar .dropdown{
        margin-top: 5%;
        width: 100%;
        text-align: center;
        overflow: auto;
    }

    .mobile-navbar .mobile-dropbtn{
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
        padding: 0;
        font-size: 4vw;
        margin: 0;
        display: inline-flex;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }

    .mobile-navbar .mobile-dropbtn i{
        font-size:2vw;
    }

    .active i{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }

    .mobile-navbar .mobile-dropdown{
        display:none;
        width: 100%;
    }

    .mobile-dropdown a{
        width: 100%;
        display: block;
        font-size: 4vw;
        margin-top: 5%;
    }

    .header-side{
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: space-between;
        margin:2% 0;
    }

    .header-side img{
        margin: 2% 0 !important;
        width: 8vw !important;
        height: auto !important;
    }

    .content-1-container{
        width: 100% !important;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .left-col-content-1 {
        width: 100% !important;
        margin: 10% 5%;
    }

    .right-col-content-1 {
        width: 100% !important;
    }

    .left-col-content-1 h1{
        margin-top: 15%;
        font-size: 8vw !important;
    }

    .content-2{
        width: 100% !important;
        flex-direction: column;
    }

    .content-2 .left-col-content-2{
        width: 100% !important;
        margin: 10% 5%;
    }
    
    .content-2-container .content-2 .left-col-content-2 h1{
        font-size: 8vw !important;
    }

    .content-2 .right-col-content-2{
        width: 90% !important;
        margin: 0 auto !important;
        margin-bottom: 10% !important;
    }

    .video-container{
        width: 100%;
    }

    iframe{
        width: 100%;
    }

    .content-3{
        width: 90% !important;
        flex-direction: column;
    }

    .content-3-container .content-3 .left-col-content-3{
        width: 100%;
        height: auto;
    }

    .content-3-container .content-3 .left-col-content-3 h1{
        margin-top:10%;
    }

    .content-3-container .content-3 .left-col-content-3 p{
        width: 95%;
    }

    .content-3-container .content-3 .right-col-content-3{
        width: 100%;
        margin-bottom: 10% !important;
    }

    .airside-img{
        margin: 0 !important;
        margin-right: 2% !important;
        width: 50%;
    }

    .landside-img{
        margin: 0 !important;
        width: 50%;
    }

    .airside-img img{
        width: 100%;
    }

    .landside-img img{
        width: 100%;
        padding-top: 50%;
    }

    .drainase-pelabuhan img{
        width: 100%;
    }

    .underpass-1-img{
        margin: 0 !important;
        margin-bottom: 3% !important;
    }

    .underpass-1-img img{
        width: 80%;
    }

    .underpass-2-img{
        margin: 0 !important;
    }

    .underpass-2-img img{
        width: 80%;
    }

    .drainase-residential img{
        width: 100%;
    }

    .drainase-arena img{
        width: 100%;
    }

    .drainase-spbu img{
        width: 100%;
    }

    .profile-content{
        width: 90%;
        margin: 0 auto;
        text-align: left;
        color: white;
    }

    .profile-content h1{
        font-size: 8vw;
        margin-bottom: 10%;
        line-height: 1.5;
    }

    .profile-content p {
        font-size: 4vw;
        line-height: 2;
        padding-bottom: 5%;
    }

    .nilai-content{
        width: 90%;
    }

    .nilai-content h1{
        font-size: 8vw;
    }

    .nilai-content h3{
        font-size: 6vw;
        margin-top: 8%;
    }

    .nilai-content p{
        font-size: 4vw;
        margin-top: 5%;
        width: 100%;
    }

    .nilai-content p:last-child{
        margin-bottom: 20%;
    }

    .nilai-img-container{
        margin-top: 5%;
    }

    .why-content{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .why-content h1{
        margin-top:15%;
        margin-bottom: 12%;
        font-size: 12vw;
    }

    .why-content h3{
        font-size: 6vw;
    }

    .why-content p{
        font-size: 4vw;
    }

    .img-point{
        width: 20%;
    }

    .img-point img{
        width: 95%;
    }

    .desc-point{
        width: 75%;
        margin: 0;
        margin-left: 5%;
        margin-bottom: 10%;
    }

    .list-content{
        padding-top: 20%;
        width: 80%;
    }

    .list-content-container .list-content h1{
        font-size: 8vw;
    }

    .product-list{
        font-size: 3vw;
        line-height: 3;
        margin-top:5%;
        padding-bottom: 10%;
    }

    .product-list div a{
        font-size: 3.5vw;
    }

    .product-content{
        width: 90%;
        flex-direction: column;
    }

    .left-col-product{
        width: 100%;
    }

    .left-col-product h1{
        font-size: 8vw;
        margin-top: 10%;
    }

    .left-col-product p{
        font-size: 4vw;
    }

    .point-checklist div{
        font-size: 4vw;
        margin-bottom: 1%;
    }

    .product-type h3{
        font-size:4vw;
    }

    .right-col-product{
        width: 100%;
        padding: 0 !important;
    }

    .right-col-product img{
        width: 100%;
        height: auto;
        margin: 10% 0;
    }

    .product-desc-container{
        height: auto;
    }

    .contact-content{
        width: 90%;
        flex-direction: column;
    }

    .contact-left-col{
        width: 100%;
    }

    .contact-left-col h1{
        margin-top: 15%;
        font-size: 8vw;
        line-height: 58px;
        width: 40%;
    }

    .contact-left-col h3{
        font-size: 6vw;
        margin-top: 10%;
    }

    .contact-left-col p{
        font-size: 4vw;
    }

    .contact-left-col p:last-child{
        margin-bottom: 10%;
    }
    
    .contact-right-col{
        width: 100%;
    }

    .contact-right-col h3{
        font-size: 6vw;
        margin-bottom: 5%;
    }

    .contact-right-col .fullname{
        width: 100%;
    }

    .contact-right-col .email{
        width: 100%;
    }

    .contact-right-col input, .contact-right-col textarea{
        margin: 3% 0;
    }

    .contact-right-col button{
        width: 100%;
        margin: 3% 0;
        margin-bottom: 15%;
    }

    .detail-content{
        width: 100%;
        flex-direction: column;
    }

    .left-col-detail{
        width: 100%;
        margin: 0 5%;
    }

    .detail-content .left-col-detail h1{
        font-size: 8vw;
    }

    .detail-content .left-col-detail h3{
        font-size: 6vw;
    }

    .detail-content .left-col-detail .cta-content{
        margin-bottom: 10%;
    }

    .detail-content .left-col-detail ul{
        margin-bottom: 10% !important;
    }

    .right-col-detail{
        width: 100%;
    }

    .detail-content .right-col-detail .img-1{
        width: 90%;
        margin: 5% 0 !important;
    }

    .detail-content .right-col-detail .img-2{
        width: 90%;
        margin-bottom: 15% !important;
    }

    .detail-content .right-col-detail .img-3{
        width: 90%;
        margin: 10% 0 !important;
    }

    /* float button */
    .cta{
        height: 40px;
        width: 150px;
    }

    .cta .normal-cta{
        display: none;
    }

    .cta .mobile-cta{
        display: block;
    }

    /* footer */

    .footer-container{
        width: 90%;
        padding-top: 10%;
    }

    .logo-footer-container{
        width: 90%;
        margin: 0 auto;
    }

    .logo-footer-container img{
        width: 100%;
    }

    .logo-footer img{
        width: auto;
    }

    .address{
        float: none;
    }

    .contact{
        float: none;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 1920px) {
    /* header */
    .bg-white .navbar a{
        font-size: 1vw;
    }

    .bg-white .dropdown .dropbtn{
        font-size: 1vw;
    }

    .bg-grey .navbar a{
        font-size: 1vw;
    }

    .bg-grey .dropdown .dropbtn{
        font-size: 1vw;
    }


    /* content */

    .airside-img{
        width: 28%;
    }

    .airside-img img{
        width: 100%;
    }

    .landside-img{
        width: 28%;
    }

    .landside-img img{
        width: 100%;
    }

    .airside-img p{
        font-size: 1.2vw;
    }

    .landside-img p{
        font-size: 1.2vw;
    }

    .underpass-1-img img{
        width: 80%;
    }

    .underpass-1-img{
        display: flex;
        justify-content: flex-start;
        margin: 20px 0;
        margin-left: 34% !important;
    }

    .underpass-2-img img{
        width: 55%;
    }

    .drainase-underpass{
        margin: 5% 0 !important;
    }

    .drainase-pelabuhan img, .drainase-residential img, .drainase-arena img{
        width: 70%;
        margin:10% 0;
    }

    .drainase-spbu img{
        width: 60%;
        margin:10% 0;
    }

    .content-3-container .content-3 .left-col-content-3{
        margin-bottom: 5%;
    }

    .cta-content{
        font-size: 1.8vw;
    }

    .profile-content-container{
        padding-bottom: 5%;
    }

    .profile-content h1{
        font-size: 4vw;
        line-height: 1.2;
    }

    .profile-content p{
        font-size: 1.8vw;
        line-height: 1.5;
        padding-bottom: 3%;
    }

    .visi-content h1{
        font-size: 4vw;
    }

    .visi-content p{
        font-size: 1.8vw;
        line-height: 1.5;
    }

    .nilai-content h1{
        font-size: 4vw;
    }

    .nilai-content h3{
        font-size: 2.5vw;
    }

    .nilai-content p{
        font-size: 1.8vw;
        line-height: 1.5;
    }

    .why-content h1{
        margin-top: 10%;
        margin-bottom: 5%;
        font-size: 4vw;
        line-height: 1.3;
    }

    .why-content h3{
        font-size: 2.5vw;
        margin-bottom: 3%;
    }

    .why-content p{
        font-size: 1.3vw;
        line-height: 1.5;
    }

    .list-logo{
        margin-bottom: 3%;
    }

    .list-content-container .list-content img{
        width: 10%;
    }

    .product-list{
        font-size: 1.5vw;
        margin-top: 5%;
    }

    .product-list div{
        margin: 1.5% 5%;
    }

    .left-col-product h1{
        font-size: 4vw;
    }

    .left-col-product p{
        font-size: 1.5vw;
        line-height: 1.5;
    }

    .product-desc-container{
        height: auto;
        margin: 10% 0;
    }

    .point-checklist div{
        font-size: 1.5vw;
        line-height: 1.5;
    }

    .product-type h3{
        font-size: 1.2vw;
    }

    .right-col-product img{
        width: 80%;
        margin: 10% 0;
    }

    .detail-content-container{
        margin-top: 0;
    }

    .detail-content .left-col-detail h1{
        font-size: 4vw !important;
    }

    .detail-content .left-col-detail h3{
        font-size: 3vw;
    }

    .detail-content .left-col-detail p{
        margin-bottom: 5%;
    }

    .detail-content .right-col-detail .img-1{
        margin:20% 0;
    }

    .detail-content .right-col-detail .img-2{
        margin-bottom: 15% !important;
    }

    .contact-left-col h1{
        font-size: 4vw;
        line-height: 1.2;
    }

    .contact-left-col p{
        font-size: 1.5vw;
        line-height: 1.3;
    }

    .contact-right-col input, .contact-right-col textarea{
        font-size: 1.2vw;
    }

    .contact-right-col button{
        font-size: 1.2vw;
    }


    /* footer */
    .logo-footer{
        margin-bottom: 2%;
    }

    .logo-footer img{
        width:10% !important;
    }

    .logo-footer-container img{
        width: 60%;
    }

    .contact-container{
        margin-top: 10%;
    }

    .contact-container h3{
        font-size: 2vw;
    }

    .contact-container p{
        font-size: 1.5vw;
    }

    .footer-copyright{
        font-size: 1vw;
    }
}