*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-size: 18px;
}

/* helper */
.clear{
    clear: both;
}

.bg-white{
    background-color: white;
}

.bg-grey{
    background: #F5F4F4;
}

/* header white*/
.header-white{
    min-height: 80px;
    width: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 0px 3px 5px 0px #33333314;
}

.header-white nav{
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
}

.header-white nav img{
    margin: 23px 0;
}

.header-white .nav-links{
    flex: 1;
    text-align: right;
    justify-content: space-around;
}

.header-white .nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 32px;
    position: relative;
}

.header-white .nav-links ul li a{
    text-decoration: none;
    color:#000000;
}

.header-white .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.header-white .nav-links ul li:hover::after{
    width: 100%;
}


/* header grey */
.header-grey{
    min-height: 80px;
    background-color: #434D58;
    width: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.header-grey nav{
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
}

.header-grey nav img{
    margin: 23px 0;
}

.header-grey .nav-links{
    flex: 1;
    text-align: right;
    justify-content: space-around;
}

.header-grey .nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 32px;
    position: relative;
}

.header-grey .nav-links ul li a{
    text-decoration: none;
    color:white;
    padding-bottom: 2px;
}

.header-grey .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.header-grey .nav-links ul li:hover::after{
    width: 100%;
}


/* home content 1 */

.content-1-container{
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
}

.left-col-content-1{
    width: 50%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.content-1-container .left-col-content-1 p{
    margin-top:15px;
}

.left-col-content-1 h1{
    font-size: 45px;
    font-weight: 300;
    line-height: 53px;
    margin-bottom: 80px;
}
.right-col-content-1{
    width: 50%;
    background: #F5F5F5;
    text-align: center;
    justify-content: center;
}

.content-1-container .right-col-content-1 .img-1{
    margin-top: 63px;
}

.content-1-container .right-col-content-1 .img-2{
    margin-top: 45px;
    margin-bottom: 140px;
}

.cta-container{
    position: fixed;
    z-index: 20000;
    right:10px;
    bottom: 10px;
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.cta{
    display: inline-flex;
    align-items: center;
    border: 1px solid #4CAF50;
    padding:5px;
    background-color: #4CAF50;
    height: 57px;
    width: 279px;
    border-radius: 50px;
}

.cta p{
    color: white;
    font-size: 16px;
    margin: 0 auto;
}

.cta img:nth-child(1){
    margin-top: 0 ;
    margin-left:18px;
}

/* home content 2 */

.content-2-container{
    width: 100%;
    background-color: black;
}

.content-2{
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    color:white;
}

.content-2-container .content-2 .left-col-content-2{
    width: 30%;
    height: auto;
    text-align: left;
    display: flex;
    align-items: center;
}

.content-2-container .content-2 .left-col-content-2 h1{
    font-weight: 400;
    font-size: 45px;
}

.content-2-container .content-2 .right-col-content-2{
    width: 70%;
    background: #353333;
    margin:70px 0;
}

/* home content-3 */

.content-3-container{
    margin-top: 13px;
    width: 100%;
    background: #F5F5F5;
}

.content-3{
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    color:black;
}

.content-3-container .content-3 .left-col-content-3{
    width: 35%;
    height: 775px;
    text-align: left;
}

.content-3-container .content-3 .left-col-content-3 h1{
    font-weight: 400;
    font-size: 45px;
    margin-top: 125px;
    margin-bottom:65px;
}

.content-3-container .content-3 .left-col-content-3 h3{
    font-weight: 400;
    font-size: 30px;
    margin-bottom:8px;
}

.content-3-container .content-3 .left-col-content-3 p{
    margin-bottom:27px;
}

.content-3-container .content-3 .right-col-content-3{
    text-align: center;
    margin: auto;
    width: 65%;
}

.drainase-bandara{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto !important;
    justify-content: flex-end;
}

.drainase-pelabuhan{
    margin: auto 0 auto auto  !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.drainase-underpass{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.drainase-residential{
    margin: auto 0 auto auto  !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.drainase-arena{
    margin: auto 0 auto auto  !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.airside-img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 15px;
}

.airside-img p{
    font-size: 18px;
    line-height: 21.82px;
    padding: 0 15px;
}

.airside-img img{
    margin-top: 15px;
}

.landside-img{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.landside-img p{
    font-size: 18px;
    line-height: 21.82px;
    padding: 0 15px;
}

.landside-img img{
    margin-bottom: 15px;
}

.underpass-1-img{
    display: flex;
    justify-content: flex-start;
    margin: 20px 95px;
}

.underpass-2-img{
    display: flex;
    justify-content: flex-end;
}
.cta-content{
    display: inline-flex;
    align-items: center;
    font-size: 22px;
}

.cta-content img{
    padding: 0 10px;
}

.content-3 .left-col-content-3 a{
    text-decoration: none;
    color: black;
}


/* abous us page style */
.profile-content-container{
    width: 100%;
    background-color: #434D58;
    padding-top: 100px;
    padding-bottom:85px;
}

.profile-content{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    color: white;
}

.profile-content h1{
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 20px;
}

.profile-content p{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 35px;
}

.profile-img{
    width: 100%;
    min-height: 615px;
    background-image: url(images/bsp-company.png);
    background-size: cover;
}

.visi-content-container{
    width: 100%;
    background-color: #F5F5F5;
}

.visi-content{
    text-align: center;
    width: 80%;
    margin: auto;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visi-content h1{
    font-size: 55px;
    line-height: 53px;
    font-weight: 400;
    margin-bottom: 25px;
}

.visi-content p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 80px;
}

.visi-content p:last-child{
    margin-bottom: 0;
}

.nilai-content-container{
    width: 100%;
}

.nilai-img-container{
    margin-top: 55px;
    width: 100%;
    height: 452px;
    display: flex;
}

.nilai-img-container div{
    width: 50%;
}

.nilai-img-container div:first-child{
    margin-right: 10px;
}

.nilai-img-container div img{
    width: 100%;
    height: auto;
}

.nilai-content{
    margin-top: 80px;
    width: 80%;
    margin: 80px auto 0 auto;
}

.nilai-content h1{
    font-size: 55px;
    line-height: 53px;
    font-weight: 400;
}

.nilai-content h3{
    font-size: 30px;
    line-height: 36.36px;
    font-weight: 400;
    margin-top: 55px;
}

.nilai-content p{
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 15px;
    width: 70%;
}

.nilai-content p:last-child{
    margin-bottom: 100px;
}

.why-content-container{
    background-color: #434D58;
    color: white;
}

.why-content{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.why-content h1{
    margin-top: 100px;
    margin-bottom: 60px;
    width: 85%;
    font-size: 55px;
    line-height: 65px;
    font-weight: 400;
}

.why-content h3{
    font-size: 30px;
    line-height: 36.36px;
    font-weight: 400;
    margin-bottom: 30px;
}

.why-content h3::after{
    content: '';
    height: 1px;
    width: 20%;
    display: block;
    background-color: white;
    margin-top: 15px;
}

.why-content p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.point-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-point{
    width: 15%;
}

.img-point img{
    margin: 10px auto;
}

.desc-point{
    width: 85%;
    margin-bottom: 100px;
}


/* product page style */
.list-content-container{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #434D58;
}

.list-content{
    padding-top: 135px;
    width: 60%;
    margin: auto;
    text-align: center;
}

.list-content-container .list-content img{
    opacity: 0.4;
}

.list-logo{
    margin-bottom: 10px;
}

.list-content-container .list-content h1{
    font-weight: 400;
    font-size: 55px;
    line-height: 53px;
    color: white;
}

.product-list{
    margin-top: 20px;
    font-size: 22px;
    line-height: 40px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.product-list div{
    margin: 0 18px;
}

.product-list div a{
    text-decoration: none;
    color: white;
}

.product-list div a:hover{
    font-weight: 600;   
}

.product-content-container{
    width: 100%;
}

.product-content{
    width: 80%;
    margin: auto;
    display: flex;
}

.left-col-product{
    width: 50%;
    padding-right: 10px;
}

.left-col-product h1{
    font-size: 55px;
    line-height: 53px;
    margin-bottom: 25px;
}

.left-col-product p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
}

.right-col-product{
    width: 50%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.product-desc-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 660px;
    justify-content: center;
}

.content-checklist{
    display: flex;
    align-items: center;
}

.point-checklist{
    margin: 0 25px;
}

.point-checklist div{
    font-size: 18px;
    line-height: 21.82px;
    margin-bottom: 5px;
}

.product-type{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top:35px;
}

.product-type h3{
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    margin-right: 50px;
}

.product-type h3 a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* footer */

.footer{
    /* margin-top: 13px; */
    width: 100%;
    background: black;
    padding-bottom: 20px;
}

.footer-container{
    width: 60%;
    margin: auto;
    text-align: center;
    color: white;
    padding-top: 90px;
}

.logo-footer{
    margin-bottom: 10px;
}

.contact-container{
    width: 100%;
    text-align: left;
    margin-top: 55px;
    font-family: 'Open Sans', sans-serif;
}

.contact-container h3{
    font-size: 18px;
    font-weight: 400;
}

.contact-container p{
    font-size: 22px;
    font-weight: 400;
    margin-top: 5px;
}

.address{
    float: left;
}

.contact{
    float: right;
}

.footer-copyright{
    margin-top: 60px;
    font-size: 16px;
}